.navBody {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 8px 2%;

    font-family: 'Inter', sans-serif;
}

/* 
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.nav-logo {
    margin: 12px 0;
    width: 10%;
    /* background-color: red; */
}

.nav-logo img {
    width: 100%;
}

/* nav{
    margin: 12px 0;
} */
nav {
    display: flex;
}

nav a {
    padding: 8px 12px;
    margin: 12px 0;
}

nav a:hover {
    color: var(--primary);
}

.nav-btn {
    padding: 8px 12px;
    margin: 12px 0;
}

.nav-btn a {
    text-decoration: none;
}

.nav-secondary {
    font-weight: 600;
    font-size: 16px;
    color: var(--text);
    background-color: rgba(5, 6, 15, .04);
    padding: 12px 18px;
    border-radius: 10px;
    margin-right: 24px;
}

.nav-secondary:hover {
    background-color: rgba(5, 6, 15, .08);
}

.nav-primary {
    background-color: var(--primary);
    padding: 12px 18px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.close-icon,
.bar,
.nav-btn.responsive {
    display: none;
}


/* Responsive */
/*----------------------MAX 1024------------------*/
@media (max-width:1024px) {
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
    transform: translateY(-100vh);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

nav a {
    color: var(--text);
    font-weight: 600;
    padding: 12px;
}
nav a:first-child{
    margin-top: 5rem;
}
nav.reponsive-nav {
    transform: none;
}

.bar,
.close-icon {
    display: block;
    margin: 12px 0;
    font-size: 24px;
}

.close-icon {
    color: var(--text);
    top: 0;
    position: absolute;
    right: 24px;
}

.nav-btn {
    display: none;
}

.nav-btn.responsive {
    display: block;
}
.nav-logo{
    width:15%;
}
.nav-logo img{
    width:100%;
}
}
/*----------------------MAX 786------------------*/
@media (max-width:786px) {
    
}
/*----------------------MAX 576------------------*/
@media (max-width:586px) {
    
}